@mixin display_flex($direccion, $eje_principal, $eje_secundario) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $eje_principal;
  align-items: $eje_secundario;
}
@mixin relleno_global {
  padding: 0.2em 0.5em;
}
@mixin estilo_texto(
  $fuente,
  $alineamiento_texto,
  $tamano_fuente,
  $color,
  $interlineado
) {
  font-family: $fuente;
  text-align: $alineamiento_texto;
  font-size: $tamano_fuente;
  color: color;
  line-height: $interlineado;
}
