@mixin escritorio_contenido {
  & {
    @media screen and (min-width: 50rem) {
      width: 100%;
      @include display_flex(row, space-around, center);
      .figura {
        flex-basis: 37.44%;
        height: auto;
        img{
          max-width: 100%;
          height: 41.42vh;
        }
      }
      .descripcion {
        flex-basis: 40.69%;
        @include display_flex(column, center, flex-start);
        .titulo {
          @include estilo_texto2("Space Mono",normal,bold,4rem,5.93rem,-0.035rem,none,#4F4F4F);
        }
        .parrafo {
          p {
            font-size: 1.5rem;
            line-height: 2.25rem;
          }
        }
        button {
          font-size: 0.875rem;
          line-height: 1.3125rem;
        }
      }
    }
  }
}
