body {
  background: var(--color_secundario_blanco);
  animation: aparce_sitio 1s 0s ease-out;
}
u {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: contain;
  cursor: pointer;
}
