@mixin display_flex($direccion, $eje_principal, $eje_secundario) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $eje_principal;
  align-items: $eje_secundario;
}
@mixin relleno_global {
  padding: 1.25rem 1.5rem;
}
@mixin estilo_texto($fuente, $alineamiento_texto, $tamano_fuente, $color, $interlineado) {
  font-family: $fuente;
  text-align: $alineamiento_texto;
  font-size: $tamano_fuente;
  color: $color;
  line-height: $interlineado;
}
@mixin estilo_texto2($fuente, $estilo, $negrita, $tamano, $interlineado, $espacio_entre_letras, $transformacion_texto, $color) {
  font-family: $fuente;
  font-style: $estilo;
  font-weight: $negrita;
  font-size: $tamano;
  line-height: $interlineado;
  letter-spacing: $espacio_entre_letras;
  text-transform: $transformacion_texto;
  color: $color;
}
