@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

:root {
  --color_titulo: var(--color_parrafo);
  --color_parrafo: #4f4f4f;
  --color_pie_pagina: #bdbdbd;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  color: var(--color_titulo);

}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: inherit;
  color: inherit;
}

h3 {
  @include estilo_texto2(("Inconsolata", monospace), normal, bold, 1.5rem, 1.5625rem, -0.08em, uppercase, var(--color_parrafo));
}
h1 {
  @include estilo_texto2(("Space Mono", monospace), normal, bold, 2.2rem, 4.4375rem, -0.035rem, uppercase, var(--color_parrafo));
}
p {
  @include estilo_texto2(("Space Mono", monospace), normal, normal, 1rem, 1.66625rem, -0.035rem, uppercase, var(--color_parrafo));
}
span,
a {
  @include estilo_texto2(("Montserrat", monospace), normal, 500, 0.875rem, 1.06625rem, normal, none, var(--color_pie_pagina));
}
a {
  text-decoration: none;
  color: var(--color_parrafo);
  font-weight: bold;
  font-style: italic;
  &:nth-child(1) {
    border-bottom: 1px solid var(--color_pie_pagina);
  }
}
img {
  max-width: 100%;
}
button  {
  padding: 1rem 3rem;
  background: var(--color_titulo);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2rem;
}

@keyframes aparceSitio {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes vueltasEspantapajaros {
  from{
    transform: rotateY(6rad);
  }
  to{
    transform: rotateY(0rad);
  } 
}



