.encabezado {
  width: 100%;
  .encabezado_titulo {
    padding: 1.25rem 1.5rem;
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: bold;
    font-size:var(--tamano_titulo_2);
    line-height: 1.56rem;
    letter-spacing: -0.08rem;
    text-transform: uppercase;
    color: var(--color_primario);
  }
}
