.pie_pagina {
  margin-top: 7.12rem; /* (114/16) */
  padding-bottom: 1.5rem;
  .parrafo_pie_pagina {
    text-align: center;
    color: var(--color_secundario_gris);
    .enlace_pie_pagina {
      font-weight: bold;
      text-transform: inherit;
      color: inherit;
    }
  }
}
@media screen and(min-width:60rem) {
  .pie_pagina {
    margin-top: 18.75rem; /* (300/16) */
  }
}
