.pie_pagina {
  margin-top: 7.12rem; /* (114/16) */
  .normal_pie_pagina {
    font-weight: normal;
    text-align: center;
    text-transform: none;
    color: var(--color_secundario_gris);
    .enlace_pie_pagina {
      font-weight: bold;
      text-transform: inherit;
      color: inherit;
    }
  }
}
@media screen and(min-width:60rem) {
  .pie_pagina {
    margin-top: 28.51vh; /* (308/1080) *100*/
  }
}
