.pie_pagina {
  padding: 0.5em 0;
  margin-top: 7.12rem;
  height: 10%;
  text-transform: capitalize;
  @include display_flex(row, center, center);
  .pie_pagina_parrafo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #bdbdbd;
    .pie_pagina_enlace {
      font-style: italic;
      &:focus{
        outline: none;
        text-shadow: 0px 0px 0px black;
        color: #0984e3;
      }
    }
  }
}
