.tarjeta {
  width: 100%;
  margin-top: 4rem; /* (64/16) */
  @include display_flex(column, space-around, center);
}

// ESCRITORIO
@media screen and (min-width: 60rem) {
  .tarjeta {
    margin-top: 12.5rem; /*200/16*/
    width: 100%;
    @include display_flex(row, center, center);
    & > * + * {
      margin-left: 8.24%; /* (118.78/1440)*100 */
    }
  }
}
