.tarjeta {
  width: 100%;
  height: 80%;
  margin-top: 7.18rem;
  @include display_flex(column, space-around, center);
}

// ESCRITORIO
@media screen and (min-width: 64rem) {
  .tarjeta {
    width: 100%;
    @include display_flex(row, center, center);
    & > * + * {
      margin-left: 8.24%; /* (118.78/1440)*100 */
    }
  }
}
