:root {

  //colores
  --color_primario: #333333;
  --color_primario_claro: #4f4f4f;
  --color_secundario_gris: #bdbdbd;
  --color_secundario_enlace: #0984e3;

  //tamaño de fuentes
  --tamano_titulo:4rem;
  --tamano_titulo_2:1.5rem;
  --tamano_parrafo:1.12rem;
  --tamano_normal:0.87rem;
}

