@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
:root {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  color: #333333;
  --color_titulo: #333333;
  --color_parrafo: #4f4f4f;
  --color_pie_pagina: #bdbdbd; }

*,
*::before,
*::after {
  padding: inherit;
  margin: inherit;
  font-family: inherit;
  box-sizing: inherit;
  color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 28.6px;
  font-weight: bolder; }

img {
  max-width: 100%; }

.contenedor {
  width: 100%;
  height: 100vmax; }
  @media screen and (min-width: 50em) {
    .contenedor {
      height: 100vh; } }
  .contenedor header {
    width: 100%;
    height: 10%;
    padding: 0.2em 0.5em; }
    .contenedor header .encabezado h3 {
      font-size: 1.5rem; }
  .contenedor .contenido {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .contenedor .contenido .figura {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .contenedor .contenido .figura img {
        height: 50vmin; }
    .contenedor .contenido .descripcion > div + div {
      margin-top: 0.5rem; }
    .contenedor .contenido .descripcion .titulo,
    .contenedor .contenido .descripcion .parrafo {
      font-family: Space Mono;
      font-style: normal; }
    .contenedor .contenido .descripcion .titulo h2 {
      font-weight: bold;
      font-size: 3rem;
      line-height: 4.4375rem;
      letter-spacing: -0.035em;
      margin-left: 0.9rem; }
    .contenedor .contenido .descripcion .parrafo p {
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.66625rem;
      letter-spacing: -0.035em;
      color: var(---color_parrafo);
      margin-left: 0.9rem; }
    .contenedor .contenido .descripcion button {
      padding: 1em 3em;
      background: var(--color_titulo);
      color: white;
      text-transform: uppercase;
      margin-left: 1.5rem;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 2rem; }
    @media screen and (min-width: 50em) {
      .contenedor .contenido {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .contenedor .contenido .descripcion .titulo h2 {
          font-size: 4rem;
          line-height: 5, 9375rem; }
        .contenedor .contenido .descripcion .parrafo p {
          font-size: 1.5rem;
          line-height: 2.25rem; }
        .contenedor .contenido .descripcion button {
          font-size: 0.875rem;
          line-height: 1.3125rem; } }
  .contenedor footer {
    height: 10%;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .contenedor footer p {
      font-family: Montserrat;
      text-align: center;
      font-size: 0.875rem;
      color: --color_pie_pagina;
      line-height: 1.066875rem; }
      .contenedor footer p span {
        font-family: inherit;
        text-align: inherit;
        font-size: 1rem;
        line-height: inherit;
        font-weight: bold;
        color: --color_titulo; }
