@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
:root {
  --color_titulo: var(--color_parrafo);
  --color_parrafo: #4f4f4f;
  --color_pie_pagina: #bdbdbd;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  color: var(--color_titulo); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: inherit;
  color: inherit; }

h3 {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5625rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: var(--color_parrafo); }

h1 {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 4.4375rem;
  letter-spacing: -0.035rem;
  text-transform: uppercase;
  color: var(--color_parrafo); }

p {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.66625rem;
  letter-spacing: -0.035rem;
  text-transform: uppercase;
  color: var(--color_parrafo); }

span,
a {
  font-family: "Montserrat", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.06625rem;
  letter-spacing: normal;
  text-transform: none;
  color: var(--color_pie_pagina); }

a {
  text-decoration: none;
  color: var(--color_parrafo);
  font-weight: bold;
  font-style: italic; }
  a:nth-child(1) {
    border-bottom: 1px solid var(--color_pie_pagina); }

img {
  max-width: 100%; }

button {
  padding: 1rem 3rem;
  background: var(--color_titulo);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2rem; }

@keyframes aparceSitio {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

#encabezado {
  width: 100%;
  height: 10%; }

#pie_pagina {
  height: 10%;
  text-transform: capitalize;
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#contenedor {
  width: 100%;
  height: calc(100vh - 2rem);
  animation: aparceSitio 1s 0s ease-in-out; }
  #contenedor * + * {
    margin-top: 1rem; }
  #contenedor #encabezado,
  #contenedor #contenido {
    padding: 1.25rem 1.5rem; }
  #contenedor .contenido {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    #contenedor .contenido .figura {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      #contenedor .contenido .figura img {
        height: 50vmin; }
    @media screen and (min-width: 50rem) {
      #contenedor .contenido {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; }
        #contenedor .contenido .figura {
          flex-basis: 37.44%;
          height: auto; }
          #contenedor .contenido .figura img {
            max-width: 100%;
            height: 41.42vh; }
        #contenedor .contenido .descripcion {
          flex-basis: 40.69%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          #contenedor .contenido .descripcion .titulo {
            font-family: "Space Mono";
            font-style: normal;
            font-weight: bold;
            font-size: 4rem;
            line-height: 5.93rem;
            letter-spacing: -0.035rem;
            text-transform: none;
            color: #4F4F4F; }
          #contenedor .contenido .descripcion .parrafo p {
            font-size: 1.5rem;
            line-height: 2.25rem; }
          #contenedor .contenido .descripcion button {
            font-size: 0.875rem;
            line-height: 1.3125rem; } }
  @media screen and (orientation: landscape) {
    #contenedor {
      height: auto; } }
  @media screen and (min-width: 50rem) {
    #contenedor {
      height: calc(100vh - 2em); }
      #contenedor h1 {
        font-weight: bold;
        font-size: 4rem;
        line-height: 5.9375rem; }
      #contenedor p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        letter-spacing: -0.035rem; } }
