.bienvenido {
  margin-top: 4.81rem;

  & > * + * {
    margin-top: 1.87rem;
  }
}

// ESCRITORIO
@media screen and (min-width: 64rem) {
  .bienvenido {
    margin-top: 0;
    flex-basis: 40.69%;/* (586/1440)*100 */
    .bienvenido_parrafo{
      width: 65.01%; /* 381/586 */
    }
    .bienvenido_boton{
      width: 36.86%; /* 216/586 */
    }
  }
}
