.boton {
  padding: 1.5rem 2.68rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 0.87rem;
  line-height: 1.31rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--color_primario);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.2.5s linear 0s;
  &:focus {
    //outline: none;
  }
  &:active {
    box-shadow: 0px 0px 16px #636e72;
  }
}
@media screen and (min-width: 50rem) {
  .boton {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}
