.figura {
  width: 30.22vmax; /* (286.838/949)*100 */
  @include display_flex(row, center, center);
  .imagen_figura {
    animation: vueltas_espantapajaros 1s 0s ease-in infinite alternate;
  }
}

// ESCRITORIO
@media screen and (min-width: 64rem) {
  .figura {
    flex-basis: 37.44%; /* (539.22/1440)*100 */
    height: auto;
  }
}
