.contenedor {
  width: 100%;
  height: calc(100vh - 2rem);
  animation: aparceSitio 1s 0s ease-in-out;

  * + * {
    margin-top: 1rem;
  }
  #encabezado,
  #contenido {
    padding: 20px 24px;
  }
  @import "./encabezado/encabezado";
  @import "./contenido/contenido";
  @import "./pie_pagina/pie_pagina";
  @include escritorio_contenedor();
}
